### Generics and functions defined in this package

export(	
	"print.RWDRI",
	"plot.RWDRI",
	"getRI",
	"findRI", 
	"BoxCox",
	"invBoxCox",
	"verifyRI",
	"getRISimilarity"
)


### Packages which are imported (appearing in the Description->Imports enumeration)

import( 
	"stats",
	"ash",
	"future",
	"future.apply",
	"parallel", 
	"graphics", 
	"grDevices"
)

importFrom("utils", packageVersion)
importFrom("utils", "capture.output")



S3method(print, RWDRI)
export(print.RWDRI)
S3method(plot, RWDRI)
export(plot.RWDRI)